main {
    padding: 2.6em;

    h1 {
        font-weight: 500;
        margin-bottom: .7em;
    }

    .dev_cards {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: repeat(2, 1fr);
        padding: 14px;
        background-color: white;
        border-radius: 1em;
        box-shadow: 6px 6px black;
        outline: 2px solid black;

        img {
            grid-row: span 2;
            width: 150px;
            height: 150px;
            background-color: black;
        }

        p {
            text-align: justify;
            padding: 10px;
        }

        ul {
            display: flex;
            place-items: center;
            list-style-type: none;
            font-size: 1.7em;

            a {
                color: black;
                text-decoration: none;
            }

            li {
                padding: .3em;
            }
        }
    }
}

@media screen and (width > 780px){
    .dev_cards {
        width: 60%;
    }
}

@media screen and (width <= 600px) {
    .dev_cards {
        background-color: tomato;
    }
}