main {
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 85%;
    box-sizing: border-box;
}

.kanban_head {
    text-align: center;
    margin: auto;

    h2 {
        font-weight: 600;
        font-size: 2.3em;
        border-bottom: 3.4px solid black;
        padding: .2em;
    }

}

.kanban_apps {
    height: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
}

.input_field {
    place-self: center;
    margin-top: .5em;
    background-color: white;
    display: grid;
    grid-template-columns: 85% 15%;
    height: fit-content;
    width: 60%;
    height: fit-content;
    overflow: hidden;
    border-radius: 20px;
    outline: 2px solid black;

    input {
        padding: .9em;
        border: 2px solid white;
        outline: none;
    }

    i {
        padding: 0.4em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: purple;
        border-left: 2px solid transparent;
        transition: .5s all ease;
    }

    i:hover {
        background-color: white;
        border-left: 2px solid black;
        transition: .4s all ease;
    }
}

.board_container {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    .boards {
        padding-bottom: .4em;
        display: grid;
        background-color: white;
        height: fit-content;
        box-shadow: 6px 6px black;
        outline: 2px solid black;
        border-radius: 10px;

        .board_head{
            display: grid;
            grid-template-columns: 80% 20%;
            align-items: baseline;
        }

        .board_heading {
            padding: .2em;
            margin-top: .6em;
            font-weight: 600;
            text-indent: 10px;
        }

        i {
            text-align: center;
            font-size: 1.2em;
            cursor: pointer;
            transition: 200ms all ease-in-out;
        }

        i:hover {
            font-size: 1.25em;
            transition: 200ms all ease-in-out;
        }

        .board_task {
            display: block;
            border-radius: 10px;
            margin: .4em;
            padding: .5em;
            outline: 1.9px solid black;
            border: none;
        }
    }

    .boards::before {
        content: "";
        background-color: red;
        width: auto;
        height: 16px;
        display: block;
        border-radius: 10px 10px 0 0;
    }
}

.is-dragging {
    scale: 1.02;
    background-color: rgb(37, 37, 37);
    color: white;
}

// add new class where it shown when inputBox is empty or exceed the input limit
// .is-empty {
//     border-bottom: 2px solid red;
// }