main {
    display: grid;
    grid-template-rows: 15% 85%;
    height: 100vh;
    h1 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 2.5em;
        place-self: center;
    }
}

article {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    .wrapper {
        width: 80%;
        outline: 2px solid black;
        background-color: white;
        border-radius: 20px;
        height: fit-content;
        padding: 0 .8em .8em .8em;
        box-shadow: 10px 10px black;

        .input_field {
            margin-top: .5em;
            background-color: white;
            display: grid;
            grid-template-columns: 85% 15%;
            height: fit-content;
            width: 100%;
            height: fit-content;
            overflow: hidden;
            border-radius: 20px;
            outline: 2px solid black;

            input {
                padding: .9em;
                border: 2px solid white;
                outline: none;
            }

            i {
                padding: 0.4em;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background-color: purple;
                border-left: 2px solid transparent;
                transition: .5s all ease;
            }

            i:hover {
                background-color: white;
                border-left: 2px solid black;
                transition: .4s all ease;
            }
        }

        @media screen and (width < 540px) {
            .input_field {
                grid-template-columns: 85% 15%;
            }
        }

        .content_list {
            height: fit-content;
            padding: .5em;
            list-style: none;
            
            li {
                padding: .4em;
                display: grid;
                grid-template-columns: 4% 90% 6%;
                border-radius: 6px;

                .check[type="checkbox"] {
                    scale: 0.8;
                    appearance: none;
                    font: inherit;
                    transform: translateY(-0.075em);
                    color: currentColor;
                    width: 1.2em;
                    height: 1.2em;
                    border: 0.5px solid black;
                    display: grid;
                    place-content: center;
                }

                .check[type="checkbox"]::before {
                    content: "";
                    width: 0.7em;
                    height: 0.7em;
                    transform: scale(0);
                    box-shadow: inset 1em 1em black;
                    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
                }

                .check[type="checkbox"]:checked::before {
                    transform: scale(1);
                }

                .check:checked + .desc {
                    text-decoration: line-through;
                    color: grey;
                    font-style: italic;
                }
                
                i {
                    color: red;
                    transition: .3s all ease;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            li:hover {
                background-color: red;
                color: white;
                transition: .4s all ease;
                cursor: pointer;
            }
        }

    }
}

@mixin myLayout($screen-width) {
    @media screen and (width < $screen-width) {
        .wrapper {
            width : 95% !important;
        }
    }
}
@include myLayout(480px);